<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head">

</head>

<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<div th:include="layout :: navigationPanel"></div>

<div class="container">
    <h3>User edit</h3>
    <hr>

    <form action="#" th:action="@{/edit}" th:object="${currentUser}" method="POST">

        <input type="hidden" th:field="*{userid}"/>

        <input type="hidden" th:field="*{login}">

        <input type="text" th:field="*{name}" placeholder="Name">
        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <hr>

        <input type="text" th:field="*{surname}" placeholder="Surname">
        <p class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
        <hr>

        <input type="password" th:field="*{password}" placeholder="Password">
        <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <hr>

        <button type="submit" >Save</button>
    </form>

    <hr>
</div>

</body>

</html>