<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:include="layout :: head">
</head>

<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<div th:include="layout :: navigationPanel"></div>

<div class="container">
    <h3>Users list</h3>
    <hr>

    <table>
        <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Login</th>
            <th>Encoded password</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.userid}"/>
            <td th:text="${user.name}"/>
            <td th:text="${user.surname}"/>
            <td th:text="${user.login}"/>
            <td th:text="${user.password}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>